:root {
  --primary-font-color: #757575;
  --hover-focus-color: #2196f3;
  --header-color: #212121;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  color: var(--primary-font-color);
  letter-spacing: 0.03em;

  margin: 0px;
}

.section {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: center;
}

.container {
  width: 1200px;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
}

.title {
  color: var(--header-color);
}

ul {
  list-style-type: none;

  margin: 0px;
  padding: 0px;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

/* header */
/* navigation */

.section.site-nav {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.container > .site-nav {
  display: flex;
}

.logo {
  font-family: raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--hover-focus-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.site-nav .logo .studio {
  color: #000000;
}

.link,
.page,
.contact-header,
.e-mail,
.tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.links {
  margin-left: 93px;
  align-items: center;
}

.links > .link:not(:last-child) {
  margin-right: 50px;
}

.site-nav .page {
  color: var(--header-color);
}

.page.current {
  color: var(--hover-focus-color);
}

.page:hover,
.page:focus {
  color: var(--hover-focus-color);
}

.contact-header {
  align-items: center;
  margin-left: auto;
}

.e-mail {
  color: var(--primary-font-color);
}

.tel {
  color: var(--primary-font-color);

  margin-left: 50px;
}

.e-mail:hover,
.e-mail:focus,
.tel:hover,
.tel:focus {
  color: var(--hover-focus-color);
}

/* main */
/* hero-section */
.hero.section {
  background-color: #2f303a;
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero > .container {
  flex-direction: column;
  align-items: center;
}

.hero .title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
}

.hero .button {
  background-color: var(--hover-focus-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  margin-top: 30px;
}

.hero .button:hover,
.button:focus {
  background: #188ce8;
}

.button {
  font-family: Roboto, sans-serif;
  min-width: 73px;
  cursor: pointer;
}

/* features-section */
.features.title {
  display: none;
}

.features-list {
  font-size: 14px;
}

.feature:not(:last-child) {
  margin-right: 30px;
}

.feature > .title {
  line-height: 1.14;
  text-transform: uppercase;
}

.feature > .text {
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* services-section */
.services.section {
  padding-top: 0px;
}

.services > .container {
  flex-direction: column;
}

.images {
  margin-top: 50px;
}

.image {
  flex-basis: calc((100% - 60px) / 3);
}

.image:not(:last-child) {
  margin-right: 30px;
}

.services.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* team-section */
.team.section {
  background: #f5f4fa;
}

.team > .container {
  flex-direction: column;
}

.team.title {
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
  margin: 0px;
}

.team.cards {
  margin-top: 50px;
}

.card {
  background: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;

  flex-basis: calc((100% - 90px) / 4);
}

.card:not(:last-child) {
  margin-right: 30px;
}

.card > img {
  display: block;
}

.card > .title {
  font-weight: 500;
}

div.card-name {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  padding-top: 30px;
  padding-bottom: 30px;
}

.position {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* footer */
footer.section {
  background: #2f303a;
  font-size: 14px;
  line-height: 1.71;

  padding-top: 60px;
  padding-bottom: 60px;
}

footer > .container {
  flex-direction: column;
}

footer .logo {
  text-shadow: none;
  width: 145px;
}

.logo .studio {
  color: #ffffff;
}

.location {
  text-decoration: none;
  font-style: normal;
  color: #ffffff;
}

.contacts {
  flex-direction: column;

  margin-top: 20px;
}

.contact-footer {
  font-style: normal;
}

.contact-footer:not(:first-child) {
  margin-top: 9px;
}

.contact-footer .mail,
.phone {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.location:hover,
.location:focus,
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: var(--hover-focus-color);
}

/* portfolio-page */
/* main-products */
.products > .container {
  flex-direction: column;
  align-items: center;
}

.filters {
  margin-bottom: 34px;
}

.products.title {
  display: none;
}

.filter:not(:last-child) {
  margin-right: 8px;
}

.all,
.sites,
.apps,
.design,
.marketing {
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  color: var(--header-color);
  line-height: 1.62;
  padding: 6px 22px;
}

.filter .button:active,
.filter .button:hover,
.filter .button:focus {
  background: var(--hover-focus-color);
  color: #ffffff;
}

.filter .button:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  flex-wrap: wrap;
  margin: -15px;
}

.project img {
  display: block;
}

.project {
  background: #ffffff;

  flex-basis: calc((100% - 90px) / 3);
  margin: 15px;
}

.discription {
  border: 1px solid #eeeeee;
  border-top: none;

  padding: 20px 24px;
}

.discription .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.discription .text {
  color: var(--primary-font-color);
  font-size: 16px;
  line-height: 1.87;
}
